<h4><%= l(:config_section_connect) %></h4>
<table>
  <tbody>
    <tr>
      <th align="left"><%= l(:teamserver_url) %></th>
      <td><%= text_field_tag('settings[teamserver_url]', @settings['teamserver_url'], {size:"50"})%></td>
    </tr>
    <tr>
      <th align="left"><%= l(:org_id) %></th>
      <td><%= text_field_tag('settings[org_id]', @settings['org_id'], {size:"50"})%></td>
    </tr>
    <tr>
      <th align="left"><%= l(:api_key) %></th>
      <td><%= text_field_tag('settings[api_key]', @settings['api_key'], {size:"50"})%></td>
    </tr>
    <tr>
      <th align="left"><%= l(:auth_header) %></th>
      <td><%= text_field_tag('settings[auth_header]', @settings['auth_header'], {size:"100"})%></td>
    </tr>
  </tbody>
</table>
<br />
<h4><%= l(:config_section_import) %></h4>
<table>
  <tbody>
    <tr>
      <th align="left"><%= l(:vul_issues) %></th>
      <td><%= check_box_tag 'settings[vul_issues]', true, @settings['vul_issues'] %></td>
    </tr>
    <tr>
      <th align="left"><%= l(:ib_issues) %></th>
      <td><%= check_box_tag 'settings[lib_issues]', true, @settings['lib_issues'] %></td>
    </tr>
  </tbody>
</table>
<br />
<h4><%= l(:config_section_status) %></h4>
<table>
  <thead>
    <tr>
      <th><%= l(:teamserver_side) %></th>
      <th colspan="4"><%= l(:redmine_side) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th align="left"><%= l(:sts_reported) %></th>
      <td><%= text_field_tag('settings[sts_reported_1]', @settings['sts_reported_1'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_reported_2]', @settings['sts_reported_2'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_reported_3]', @settings['sts_reported_3'], {size:"15"})%></td>
      <td><%= l(:sts_reported_ph) %></td>
    </tr>
    <tr>
      <th align="left"><%= l(:sts_suspicious) %></th>
      <td><%= text_field_tag('settings[sts_suspicious_1]', @settings['sts_suspicious_1'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_suspicious_2]', @settings['sts_suspicious_2'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_suspicious_3]', @settings['sts_suspicious_3'], {size:"15"})%></td>
      <td><%= l(:sts_suspicious_ph) %></td>
    </tr>
    <tr>
      <th align="left"><%= l(:sts_confirmed) %></th>
      <td><%= text_field_tag('settings[sts_confirmed_1]', @settings['sts_confirmed_1'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_confirmed_2]', @settings['sts_confirmed_2'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_confirmed_3]', @settings['sts_confirmed_3'], {size:"15"})%></td>
      <td><%= l(:sts_confirmed_ph) %></td>
    </tr>
    <tr>
      <th align="left"><%= l(:sts_notaproblem) %></th>
      <td><%= text_field_tag('settings[sts_notaproblem_1]', @settings['sts_notaproblem_1'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_notaproblem_2]', @settings['sts_notaproblem_2'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_notaproblem_3]', @settings['sts_notaproblem_3'], {size:"15"})%></td>
      <td><%= l(:sts_notaproblem_ph) %></td>
    </tr>
    <tr>
      <th align="left"><%= l(:sts_remediated) %></th>
      <td><%= text_field_tag('settings[sts_remediated_1]', @settings['sts_remediated_1'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_remediated_2]', @settings['sts_remediated_2'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_remediated_3]', @settings['sts_remediated_3'], {size:"15"})%></td>
      <td><%= l(:sts_remediated_ph) %></td>
    </tr>
    <tr>
      <th align="left"><%= l(:sts_fixed) %></th>
      <td><%= text_field_tag('settings[sts_fixed_1]', @settings['sts_fixed_1'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_fixed_2]', @settings['sts_fixed_2'], {size:"15"})%></td>
      <td><%= text_field_tag('settings[sts_fixed_3]', @settings['sts_fixed_3'], {size:"15"})%></td>
      <td><%= l(:sts_fixed_ph) %></td>
    </tr>
  </tbody>
</table>
